@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: $color-background;
    color: $color-white-1;
}
